body{
    padding-top: 60px;

    .align-center{
        text-align: center;
    }
    .align-rigth{
        text-align: right;
    }
    .margin-none{margin: 0;}
    .modal-content{overflow: hidden;}
    .custom-loading{
        display: none;
        height: 35px;
        left: 50%;
        padding: 7px;
        position: absolute;
        z-index: 9999;
    }
    hr{
        margin: 0;
    }
    .over-flow-y{
        height: 286px;
        margin: 0;
        overflow-y: scroll;
    }
    .Zebra_DatePicker{
        max-width: 222px;
        position: relative;
    }
    .cb-hab{        
        vertical-align: top;
    }
    .error{
        color: red;
    }
}
