body{
    padding-top: 60px;

    .align-center{
        text-align: center;
    }
    .align-rigth{
        text-align: right;
    }
    .margin-none{margin: 0;}
    .modal-content{overflow: hidden;}
    .custom-loading{
        display: none;
        height: 35px;
        left: 50%;
        padding: 7px;
        position: fixed;
        z-index: 9999;
    }
    hr{
        margin: 0;
    }
    .over-flow-y{
        height: 286px;
        margin: 0;
        overflow-y: scroll;
    }
    .Zebra_DatePicker{
        max-width: 222px;       
    }
    .cb-hab{        
        vertical-align: top;
    }
    .error{
        color: red;
    }
    .navbar-fixed-top, .navbar-fixed-bottom{
        z-index: 100;
    }
    .ui-autocomplete-loading {
        background: white url('../js/jquery-ui-1.10.4/css/ui-lightness/images/ui-anim_basic_16x16.gif') right center no-repeat;
    }
    /******css reporte******/

    table.header-reporte{
        width: 100%;
    }
    table.content-reporte{
        width: 100%;
        font-family: DejaVuSansCondensed; 
        font-size: 8pt; 
        line-height: 1.2;
        margin-top: 2pt;
        margin-bottom: 5pt;
        border-collapse: collapse; 

        thead{
            font-weight: bold; vertical-align: bottom;
            tr{
                background: #EEEEEE;
                th{}
            }
        }
        tbody{
            tr{
                td{
                    padding-left: 2mm; 
                    vertical-align: top; 
                    text-align:left; 
                    padding-right: 2mm; 
                    padding-top: 0.5mm; 
                    padding-bottom: 0.5mm;
                }
            }
        }
    }
}
